In [1]:
import pandas as pd

In [2]:
sports = {'Archery': 'Bhutan',
         'Golf': 'Scotland',
         'Sumo': 'Japan',
         'Taekwando': 'South Korea'}
s = pd.Series(sports)

In [3]:
s.loc['Golf']

'Scotland'

In [4]:
s[3]

'South Korea'

In [5]:
s['Golf']

'Scotland'

In [6]:
sports = {99: 'Bhutan',
         100: 'Scotland',
         101: 'Japan',
         102: 'South Korea'}
s = pd.Series(sports)

In [7]:
s.iloc[0]

'Bhutan'

In [8]:
s = pd.Series([100.0, 120.0, 101.0, 3.0])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [9]:
total = 0
for item in s:
    total += item
print(total)

324.0

In [10]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [11]:
s = pd.Series(np.random.randint(0, 1000, 10000))
s.head()

0    143
1    697
2    468
3    566
4    549
dtype: int64

In [12]:
len(s)

10000

In [13]:
np.sum(s)

5004222

In [14]:
s.sum()

5004222

In [15]:
%%timeit -n 100
total = 0
for item in s:
    total += item

1.3 ms ± 93.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [16]:
%%timeit -n 100
total = sum(s)

822 µs ± 25.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [17]:
%%timeit -n 100
np.sum(s)

89.5 µs ± 17.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
%%timeit -n 100
s.sum()

75.7 µs ± 10.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [19]:
s += 2
s.head()

0    145
1    699
2    470
3    568
4    551
dtype: int64

In [20]:
for key, val in s.iteritems():
    s.set_value(key, val + 2)
s.head()

/Users/luyolomagangane/anaconda3/envs/venv_hn_tensor_factorisation/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    147
1    701
2    472
3    570
4    553
dtype: int64

In [25]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
for key, val in s.iteritems():
    s[key] = val + 2

48.5 ms ± 2.71 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [26]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
s += 2

388 µs ± 55.1 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [27]:
s = pd.Series([1, 2, 3])
s['Animal'] = 'Bear'
s

0            1
1            2
2            3
Animal    Bear
dtype: object

In [34]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwando': 'South Korea'})

cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], index=['Cricket',
                                                         'Cricket',
                                                         'Cricket',
                                                         'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [35]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwando    South Korea
dtype: object

In [36]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwando    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object